body{
    background-color:skyblue;
    text-align: center;
}
button{
    margin: 10px;
}

.btn-inc{
    height:30px;
    width:10%;
    border-style: solid;
    border-radius: 15px;
    background-color:seagreen;
}
.btn-dec{
    height:30px;
    width:10%;
    border-style: solid;
    border-radius: 15px;
    background-color:orange;
}
.btn-re{
    height:30px;
    width:10%;
    border-style: solid;
    border-radius: 15px;
    background-color:red;
}